<div class="container mx-auto d-flex flex-column">

  <div class="card mx-auto" style="width: 18rem;">
    <img src="../assets/bill.jpg" class="card-img-top" alt="img">
    <div class="card-body">
      <h3 class="text-center card-title pb-3 border-bottom">Bill Gates</h3>
      <h4 class="pb-3 border-bottom">Bill Gates quotes</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">If you think your teacher is tough, wait till you get a boss</li>
      <li class="list-group-item">Life is not fair — get used to it!</li>
      <li class="list-group-item">Success is a lousy teacher. It seduces smart people into thinking they can’t lose</li>
      <li class="list-group-item">Be nice to nerds. Chances are you’ll end up working for one</li>
    </ul>
    <div class="card-body">
      <a href="https://en.wikipedia.org/wiki/Bill_Gates" class="card-link">Wikipedia</a>
      <a href="https://www.gatesfoundation.org" class="card-link">Fundation</a>
      <a href="https://www.gatesnotes.com/" class="card-link">GatesNotes</a>
      <a href="https://twitter.com/billgates" class="card-link">Twitter</a>
    </div>
  </div>
</div>
